# Ignore local uploads and temp outputs
kk/static/uploads/
kk/instance/*.db

# Model weights and large binaries
*.pt

# Flutter/Build outputs
build/
**/DerivedData/
**/.dart_tool/
**/.fleet/
**/.idea/
**/.vscode/

# OS junk
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
